* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
    }

    body {

      margin: 158px;
      color: #1a1a1a;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
   .header{
          background: url(../Image/Hero-bg.png);
      background-size: cover;
    margin: 0;
    padding: 0;
      background-position: center;
   
   }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 150;
      padding-right: 150;
    }

    .logo {
      font-size: 20px;
      font-weight: 900;
      color: #0404f3;

    }

    .signup-btn {
      background-color: #5b5bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .signup-btn:hover {
      background-color: #3f3fd1;
    }

    .hero {
      text-align: center;
      margin-top: 158px;
      padding-left: 267;
      padding-right: 267;
    }

    .hero h1 {
      font-size: 42px;
      font-weight: 700;
      color: #1a1a1a;
    }

    .focus-btn {
      margin-top: 35px;
      background-color: #5b5bff;
      color: #fff;
      border: none;
      padding: 12px 24px;
      border-radius: 8px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .focus-btn:hover {
      background-color: #3f3fd1;
    }
    
    /* 2nd section  */

    
    .action-section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
      margin-top: 130px;
      text-align: center;
    }

    .left-content {
      max-width: 50%;
    }

    .left-content h2 {
      font-size: 28px;
      font-weight: 700;
      color: #2b2b2b;
      margin-bottom: 10px;
    }

    .left-content p {
      color: #6b6b6b;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .left-content button {
      background-color: #4f46e5;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .left-content button:hover {
      background-color: #4338ca;
    }

    .right-content img {
      width: 350px;
      border-radius: 20px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }