* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #111;
  background: #f9faff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.header {
   background-image: url(../Image/Hero-bg.png);
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #4a00e0;
}

.nav-btn {
  background-color: #4a00e0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: #eaefff;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #4a00e0;
}

.primary-btn {
  background-color: #4a00e0;
  color: white;
  border: none;
  padding: 12px 25px;
  margin-top: 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.action {
  text-align: center;
  padding: 50px 20px;
}

.action img.preview-img {
  margin-top: 20px;
  width: 250px;
  border-radius: 12px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #eef1ff;
  padding: 40px 20px;
  margin: 40px 0;
}

.stat-box h3 {
  font-size: 28px;
  color: #4a00e0;
}

.stat-box p {
  font-size: 14px;
}

.testimonials {
  padding: 50px 20px;
  text-align: center;
}

.testimonial {
  margin: 20px auto;
  max-width: 400px;
  background-color: #f5f7ff;
  padding: 20px;
  border-radius: 10px;
}

.focus {
  text-align: center;
  padding: 50px 20px;
}

.focus img {
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 10px;
}

.contact {
  background-color: #f9faff;
  padding: 50px 20px;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.footer {
  background-color: white;
  text-align: center;
  padding: 30px 20px;
  margin-top: 40px;
  border-top: 1px solid #ddd;
}
